/* Côté light */

nav.navbar.navbar-inverse.navbar-fixed-top {
    background-color:#eee;
}

ul.nav.navbar-nav > li > a {
    color:#666;
}

ul.nav.navbar-nav > li > a:hover {
    color:#000;
}

.tb-content-bg {
    background-color:#eee;
}

.tb-content-bg * {
    color:#555;
}

.tb-btn-bb {
    border-color: #000;
    font-weight: lighter !important;
    color: #000 !important;
}